# snippet wb "Usecase for widgetbook"
# // coverage:ignore-start
# @UseCase(name: '$1', type: $1)
# Widget $2(BuildContext context) {
#    return $3;
# }
# // coverage:ignore-end
#
snippet tmt "Theme textTheme"
   Theme.of(context).textTheme.$1
