snippet dmo "\DeclareMathOperator"
    \\DeclareMathOperator{${1}}{${2}}

snippet $$ "$Math$"
    \$${1:VISUAL}\$

snippet em "\emph{...}"
    \emph{${1:VISUAL}}
snippet \ "\[ ... \]"
    \[
        ${1}
    \]
