# This is Git's per-user configuration file.
[user]
	name = Rahsheen Porter
	email = rahsheen.porter@thirtymadison.com
[alias]
  co = checkout
  ph = push -u origin HEAD
  ff = pull --ff-only
  stashgrep = "!f() { for i in `git stash list --format=\"%gd\"` ; \
              do git stash show -p $i | grep -H --label=\"$i\" \"$@\" ; done ; }; f"
[core]
	excludesFile = ~/.config/git/ignore
