tags
test.sh
.luarc.json
nvim

spell/

# You likely want to comment this, since it's recommended to track lazy-lock.json in version
# control, see https://lazy.folke.io/usage/lockfile
# For the canonical kickstart git repository, we leave it ignored to avoid unneeded diff churn
# and conflict resolutions for PRs that wouldn't otherwise have conflicts.
lazy-lock.json

.DS_Store
