# This is Git's per-user configuration file.
[user]
	name = Rahsheen Porter
	email = rahsheen.porter@thirtymadison.com
[alias]
  co = checkout
  ph = push -u origin HEAD
  ff = pull --ff-only
[core]
	excludesFile = ~/.config/git/ignore
